<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

    <bots>
        <specialist>
            <name>SberSpecialistBot</name>
            <token>742271938:AAE-FA2c_5L1E6S3TLkod3ADvFx4GDyduRE</token>
        </specialist>
        <client>
            <name></name>
            <token></token>
        </client>
    </bots>

</configuration>