<?xml version="1.0" encoding="UTF-8"?>
<settings
        xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd"
        xmlns="http://maven.apache.org/SETTINGS/1.0.0"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <mirrors>
        <mirror>
            <id>NexusDev</id>
            <name>Mirror of NexusDev</name>
            <url>http://sbtnexus.ca.sbrf.ru:8081/nexus/content/groups/internal</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
            <repositories>
                <repository>
                    <id>thirdparty</id>
                    <name>thirdparty</name>
                    <url>http://sbtnexus.ca.sbrf.ru:8081/nexus/content/repositories/thirdparty</url>
                </repository>
                <repository>
                    <id>jcenter</id>
                    <name>jcenter</name>
                    <url>http://sbtnexus.ca.sbrf.ru:8081/nexus/content/repositories/jcenter</url>
                </repository>
                <repository>
                    <id>thirdparty</id>
                    <name>thirdparty</name>
                    <url>http://sbtnexus.ca.sbrf.ru:8081/nexus/content/repositories/thirdparty</url>
                </repository>
                <repository>
                    <id>Deposit_PPRB_release</id>
                    <name>Deposit_PPRB_release</name>
                    <url>http://sbtnexus.ca.sbrf.ru:8081/nexus/content/repositories/Deposit_PPRB_release</url>
                </repository>
                <repository>
                    <id>extCentral</id>
                    <name>extCentral</name>
                    <url>http://sbtnexus.ca.sbrf.ru:8081/nexus/content/repositories/central/</url>
                </repository>
            </repositories>
            <id>nexus-platform-repos</id>
        </profile>

    </profiles>

    <activeProfiles>
        <activeProfile>nexus-platform-repos</activeProfile>
    </activeProfiles>

    <servers>
        <server>
            <id>NexusDev</id>
            <username>CI2_CI00706381</username>
            <password>Qq6543212</password>
        </server>
    </servers>

</settings>
